.banner_image{
position: absolute;
    width: 100%;
    height: auto;	
}
.showList{
	display: block !important;
}


.divImageColorFilter{
	display: inline;
	> img {
		margin-right: 5px;
		border: 1px solid #cccccc;
		cursor: pointer;
	}
}
.CategoryActive{
	font-weight: bold;
}
.linkHover:hover{
	color: #246672 !important;
}
::ng-deep .ng5-slider-selection,::ng-deep .ng5-slider-pointer{
	background: #246672 !important;
}