	<!--================Home Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<img class="img-fluid img-categories banner_image" src="{{bannerImage}}" alt="">
			<div class="container">
				<div class="banner_content text-center">
					<h2>{{actualCategory.label}}</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Category Product Area =================-->
	<section class="cat_product_area section_gap">
		<div class="container-fluid">
			<div class="row flex-row-reverse">
				<div class="col-lg-9">
					<div class="product_top_bar">
						<div class="left_dorp">
							<select class="sorting" [ngModel]="selectedSortByObj" (ngModelChange)="onChangeSortingSelect($event)">
								<option *ngFor="let opt of sortBy" [ngValue]="opt">{{opt.name}}</option>
							</select>
							<select class="show" [ngModel]="this.urlFilters.limit" onchange="onChangeShowPerPage($event)">
								<option value="12">Show 12</option>
								<option value="24">Show 24</option>
								<option value="36">Show 36</option>
							</select>
						</div>
						<div class="right_page ml-auto">
							<nav class="cat_page" aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" href="#">
											<i class="fa fa-long-arrow-left" aria-hidden="true"></i>
										</a>
									</li>
									<li class="page-item active">
										<a class="page-link" href="#">1</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">2</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">3</a>
									</li>
									<li class="page-item blank">
										<a class="page-link" href="#">...</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">6</a>
									</li>
									<li class="page-item">
										<a class="page-link" href="#">
											<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!--================ Product Area =================-->
					<div class="latest_product_inner row">
						<div *ngFor="let item of products" class="col-lg-3 col-md-3 col-sm-6">
							<div class="f_p_item">
								<div class="f_p_img">
									<a routerLink="/product/{{item.modelId}}" routerLinkActive="active">
										<img class="img-fluid" src="{{item.images[2]}}" onError="this.src='./assets/img/product/feature-product/f-p-2.jpg';" alt="">
									</a>
									<div class="p_icon">
										<a href="#">
											<i class="fa fa-heart fa-lg"></i>
										</a>
										<a href="#">
											<i class="fa fa-shopping-cart fa-lg"></i>
										</a>
									</div>
								</div>
								<a routerLink="/product/{{item.modelId}}" routerLinkActive="active">
									<h4>{{item.name}}</h4>
								</a>
								<h5>{{item.finalPrice/100}} {{item.currency}}</h5>
							</div>
						</div>
					</div>
				</div>
				<!--================ END Product Area =================-->
				<!--================ Categories Area =================-->
				<div class="col-lg-3">
					<div class="left_sidebar_area">
						<aside class="left_widgets cat_widgets">
							<div class="l_w_title">
								<h3>Browse Categories</h3>
							</div>
							<div class="widgets_inner">
								<ul class="list">
									<li *ngFor="let cat of global.homeCategories">
										<a routerLink="/category/{{cat.categoryId}}" routerLinkActive="active" [ngClass]="{'CategoryActive': cat.categoryId == categoryId}">{{cat.label}}</a>
										<ul [ngClass]="{'list':true, 'showList': categoryId == cat.categoryId}">
											<li *ngFor="let subcat of cat.children">
												<a routerLink="/category/{{cat.categoryId}}/subcategory/{{subcat.categoryId}}" routerLinkActive="active" [ngClass]="{'CategoryActive': subcat.categoryId == subCategoryId}">{{subcat.label}}</a>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</aside>
						<aside class="left_widgets p_filter_widgets">
							<div class="l_w_title">
								<h3>Product Filters</h3>
							</div>
							<div class="widgets_inner" *ngFor="let filter of filters">
								<h4>{{filter.label}}</h4>
								<ul class="list" *ngIf="filter.label != 'PRICE' && filter.label != 'COLOR'">
									<li *ngFor="let opt of filter.options">
										<a href="#">{{opt.label}}</a>
									</li>
								</ul>

								<div  *ngIf="filter.label == 'COLOR'">
									<div *ngFor="let opt of filter.options" class="divImageColorFilter">
										<img class="imageColorFilter" src="{{opt.imageUrl}}">
									</div>
								</div>

								<div class="range_item" *ngIf="filter.label == 'PRICE'">
									<ng5-slider [(value)]="minValue" [(highValue)]="maxValue"></ng5-slider>
								</div>
							</div>
							<!-- <div class="widgets_inner">
								<h4>Color</h4>
								<ul class="list">
									<li>
										<a href="#">Black</a>
									</li>
									<li>
										<a href="#">Black Leather</a>
									</li>
									<li class="active">
										<a href="#">Black with red</a>
									</li>
									<li>
										<a href="#">Gold</a>
									</li>
									<li>
										<a href="#">Spacegrey</a>
									</li>
								</ul>
							</div>
							<div class="widgets_inner">
								<h4>Price</h4>
								<div class="range_item">
									<div id="slider-range"></div>
									<div class="row m0">
										<label for="amount">Price : </label>
										<input type="text" id="amount" readonly>
									</div>
								</div>
							</div> -->
						</aside>
					</div>
				</div>
			</div>

			<div class="row">
				<nav class="cat_page mx-auto" aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#">
								<i class="fa fa-chevron-left" aria-hidden="true"></i>
							</a>
						</li>
						<li class="page-item active">
							<a class="page-link" href="#">01</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">02</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">03</a>
						</li>
						<li class="page-item blank">
							<a class="page-link" href="#">...</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">09</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">
								<i class="fa fa-chevron-right" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
	<!--================End Category Product Area =================-->
