<!--================Header Menu Area =================-->
	<header class="header_area">
		<!-- <div class="top_menu row m0">
			<div class="container-fluid">
				<div class="float-left">
					<p>Call Us: 012 44 5698 7456 896</p>
				</div>
				<div class="float-right">
					<ul class="right_side">
						<li>
							<a href="login.html">
								Login/Register
							</a>
						</li>
						<li>
							<a href="#">
								My Account
							</a>
						</li>
						<li>
							<a href="contact.html">
								Contact Us
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div> -->
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" routerLink="/home" routerLinkActive="active">
						<img src="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/e8/8b/00/e88b00b7-4285-f430-1d96-4a4c45ad5942/source/512x512bb.jpg" alt="" class="logoNavbar">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<div class="row w-100">
							<div class="col-lg-7 pr-0">
								<ul class="nav navbar-nav center_nav pull-right">
									<li class="nav-item">
										<a [ngClass]="{'nav-link':true, 'selectedLink': global.componentSelector == 'home'}" routerLink="/home" routerLinkActive="active">Home</a>
									</li>
									<li class="nav-item submenu dropdown">
										<a [ngClass]="{'nav-link':true, 'dropdown-toggle':true, 'selectedLink': global.componentSelector == 'categories'}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
										<ul class="dropdown-menu">
											<li *ngFor="let cat of global.homeCategories" class="nav-item">
												<a routerLink="/category/{{cat.categoryId}}" routerLinkActive="active" class="nav-link">{{cat.label}}</a>
											</li>
											<!-- <li class="nav-item">
												<a class="nav-link" href="category.html">Shop Category</a>
												<li class="nav-item">
													<a class="nav-link" href="single-product.html">Product Details</a>
													<li class="nav-item">
														<a class="nav-link" href="checkout.html">Product Checkout</a>
														<li class="nav-item">
															<a class="nav-link" href="cart.html">Shopping Cart</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" href="confirmation.html">Confirmation</a>
														</li> -->
										</ul>
									</li>
									<!-- <li class="nav-item submenu dropdown">
										<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
										<ul class="dropdown-menu">
											<li class="nav-item">
												<a class="nav-link" href="blog.html">Blog</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="single-blog.html">Blog Details</a>
											</li>
										</ul>
									</li> -->
									<li class="nav-item submenu dropdown">
										<!-- <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a> -->
										<a class="nav-link" >Stores</a>
										<ul *ngIf="stores != null" class="dropdown-menu">
											<li *ngFor="let store of stores; index as i" class="nav-item">
												<a class="nav-link"  (click)="storeLinkClick(store.name)">
													{{store.name}}
													<i *ngIf="global.selectedStore == store.name" class="fa fa-check pull-right storeCheck" aria-hidden="true"></i>
												</a>
												
											</li>
												<!-- <a class="nav-link" href="login.html">Login</a> -->
												<!-- <li class="nav-item">
													<a class="nav-link" href="tracking.html">Tracking</a>
													<li class="nav-item">
														<a class="nav-link" href="elements.html">Elements</a>
													</li> -->
										</ul>
									</li>
									<li class="nav-item submenu dropdown">
										<a class="nav-link" >Language</a>
										<ul *ngIf="stores != null" class="dropdown-menu subList">
												<li *ngFor="let storeView of subStores; index as j" class="nav-item">
													<a class="nav-link">
														{{storeView.name}}
														<i *ngIf="global.selectedStoreId == storeView.storeId" class="fa fa-check pull-right storeCheck" aria-hidden="true"></i>
													</a>
												</li>
										</ul>
									</li>
									<!-- <li class="nav-item">
										<a class="nav-link" href="contact.html">Contact</a>
									</li> -->
								</ul>
							</div>

							<div class="col-lg-5">
								<ul class="nav navbar-nav navbar-right right_nav pull-right">
									<hr>
									<li class="nav-item">
										<a href="#" class="icons">
											<!-- <i class="fa fa-search" aria-hidden="true"></i> -->
											<fa [name]="'search'"></fa>
										</a>
									</li>

									<hr>

									<li class="nav-item">
										<a routerLink="/login" routerLinkActive="active" class="icons">
											<!-- <i class="fa fa-user" aria-hidden="true"></i> -->
											<fa [name]="'user'"></fa>
										</a>
									</li>

									<hr>

									<li class="nav-item">
										<a href="#" class="icons">
											<i class="fa fa-heart" aria-hidden="true"></i>
										</a>
									</li>

									<hr>

									<li class="nav-item">
										<a href="#" class="icons">
											<i class="fa fa-shopping-cart"></i>
										</a>
									</li>
									<!-- <hr>
									<li>
										<select *ngIf="stores != null" name="store" [ngModel]="selectedStore">
											<option *ngFor="let store of stores; index as i" [ngValue]="i">{{store.name}}</option>
										</select>

										<select *ngIf="stores != null" name="store" [ngModel]="selectedStoreId">
											<option *ngFor="let storeId of stores[selectedStore].storeViews; index as i" [ngValue]="storeId.storeId">{{storeId.name}}</option>
										</select>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================Header Menu Area =================-->