.logoNavbar{
    height: 70px;
}
.subList{
    padding-left: 20px;
}
.selectedLink{
    color: #246672 !important;
    font-weight: bold !important;
}
.storeCheck{
    padding-top: 15px;
}
.nav-link{
    cursor: pointer;
}